a button {
    margin-top: 2rem;

    border: none;
    font-size: 1.8rem;
    padding: 1.5rem 3rem;
    width: 100%;
    color: #000000;
    background: var(--gradient);
    border-radius: .6rem;
    line-height: 1;

    transition: all 300ms ease-in-out;

    box-shadow:  10px 10px 60px #3dffff29,
                -10px -10px 60px #2dd7c931;
}

a button:hover {
    transform: translateY(-6px);
    cursor: pointer;
    filter: brightness(1.2);
    box-shadow:  20px 20px 60px #3dffff25,
                -20px -20px 60px #2dd7c922;
}

@media (min-width: 1080px) {
    a button {
        margin-top: 3rem;
        font-size: 2.5rem;
        padding: 2rem 5.5rem;
        width: inherit;
    }
}