* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Montserrat", sans-serif;
}

@import url('https://fonts.cdnfonts.com/css/paralucent-heavy?styles=168363,168366,168368,168370,168372,168374');

@font-face {
  font-family: 'InterV';
  src: url(../fonts/Inter-V.ttf);
}

:root {
    font-size: 62.5%;

    --color-text: #d8d8d8;
    --primary-color: #FF6E2E;
    --gradient: linear-gradient(to right, #FF8B30 0%, #FF6E2E 100%);
    --gradient-yellow: linear-gradient(to right, #E8A53C 0%, #D6901F 100%);

    --black-900: #020202;
    --black-800: #090909;
    --black-700: #0b0b0b;

    --nav-height: 7.2rem;

    --interV: 'interV';
}  

/* 
font-family: 'Paralucent-Heavy', sans-serif;
font-family: 'Paralucent-Thin', sans-serif;
font-family: 'Paralucent-Medium', sans-serif;
font-family: 'Paralucent-DemiBold', sans-serif;
font-family: 'Paralucent-ExtraLight', sans-serif;
font-family: 'Paralucent-Bold', sans-serif; 
*/

html {
    scroll-behavior: smooth;
  }
  
  html,
  body {
    width: 100%;
    height: 100%;
    font-family: var(--Rebond);
    text-align: center;
    background-color: var(--black-900);

  }

  body {
    background-color: var(--black-900);
  }

  .cursor-dot {
    width: 5px;
    height: 5px;
    background: var(--gradient);
  }

  .cursor-outline {
    width: 30px;
    height: 30px;
    border: 2px solid #3cff007a;
  }

  .cursor-dot,
  .cursor-outline {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 150;
    pointer-events: none;
  }

  button {
    cursor: url("../assets/CURSOR\ LSB.svg"), auto;
  }

  ul {
    list-style: none;
  }

  ::selection {
  color: #000000;
  background: #d8d8d8;
}

  .wrapper {
    width: min(50rem, 100%);
    margin-inline: auto;
  
    padding-inline: 1.2rem;
  }

  @media (min-width: 1080px) {
    .wrapper {
      width: min(40rem, 100%);
    }
  }
  
  section {
    padding-block: 7rem;
  }

  /*====  scrollbar ============================ */
::-webkit-scrollbar {
  width: .6rem;
  background-color: #0f0f0f;
}

::-webkit-scrollbar-thumb {
  width: .6rem;
  background: var(--gradient);
  border-radius: 1rem;
}

  /* buttonWhatsapp =================== */
#buttonWhatsapp {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 100;
  
    opacity: 0;
    visibility: hidden;
  
    transform: translateY(100%);
    transition: all 300ms ease-in-out;
  }
  
  #buttonWhatsapp.show {
    opacity: 1;
    visibility: visible;
  
    transform: translateY(0);
  }
  
  #buttonWhatsapp img {
    width: 6rem;
    transition: all 300ms ease-in-out;
  }
  
  #buttonWhatsapp svg:hover {
    transform: scale(1.1);
  }